body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background: crimson;
    animation-name: change-background;
    animation-duration: 4s;
    animation-delay: 2s;

    animation-fill-mode: none; /*padrão*/
     animation-fill-mode: forwards;
    /* animation-iteration-count: reverse; */
    animation-fill-mode: backwards;
    animation-fill-mode: both;
   
}

@keyframes change-background{

    0%{
        background: blue;
    }

    50%{
        background: yellow;
    }

    100%{
        background: red;
    }
}