body{
    font-family: sans-serif;
    height: 200vh;
}

.inline{
    display: inline-block;
}

.exemplo{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

#elemento-1{
    background-color: orange;
    position: fixed;
    /* top: 0; */
    bottom: 0;
    right: 0;
    border-radius:30px;
}

#elemento-2{
    background-color: palevioletred;

}

#elemento-3{
    background-color: palegreen;
}

#elemento-4{
    background-color: paleturquoise;
}

#elemento-5{
    background-color: violet;

}

#elemento-6{
    background-color: blueviolet;
    position: fixed;
    top: 0;
}